@model Core.ViewModels.ApplicationUserViewModel

@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h1> Welcome! </h1>
        @*<h1>Dashboard</h1>*@
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">
                    <!-- Start Card -->
                    <div class="col-lg-4 col-md-4">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                @* <a asp-controller="Student" asp-action="Textbooks" class="card-link"> *@
                                <h5 class="card-title">Events Created </h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-book"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>0</h6>
                                    </div>
                                </div>
                                @* </a> *@
                            </div>
                        </div>
                    </div>
                    <!-- End Card -->
                   


                </div>
            </div><!-- End Left side columns -->

        </div>
    </section>

</main><!-- End #main -->
