@model Core.ViewModels.EventBookingsViewModel
@{
    ViewData["Title"] = "Booking Form";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Book Event </h5>

            <form>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Name</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="name" required>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="email" required>
                        <input value="@Model.EventId" class="form-control" id="event_Id" required>
                        <input value="@Model.BookerId" class="form-control" id="booker_Id" required>
                    </div>

                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Additional Note <small> (Optional)</small></label>
                    <div class="col-sm-8">
                        <textarea rows="10" cols="4" type="text" class="form-control" id="note" required> </textarea>
                    </div>
                </div>

                <div class="text-center">
                    <button type="button" class="btn btn-outline-primary" id="submit_btn" onclick="BookNow()"> BookNow </button>
                    <button type="reset" class="btn btn-primary">Reset</button>
                </div>
            </form><!-- End Horizontal Form -->

        </div>
    </div>

